@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background-color: #24272e;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #000;
    --background-color: #f2f2f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background-color);
}
